*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 20px;
    padding: 0px;
    font-family: 'Open Sans' ,sans-serif;
    background-color: #FEC8D8;   
}

/*  logo & deskripsi atas */

.navlogo{
    width: 95%;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
    background-color: #E0BBE4;
    border: solid 0px;
}

.logo a{
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: courier;
    color: blue;
    margin-left: 5%;
}

.menu{
    float: right;
    margin-right: 5%;
}

.desweb1{
    font-weight: bold;
    top: 25px;
    left: 50px;
    position: absolute;

}



a.klik{
    background: greenyellow;
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px 15px 10px 15px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    position:relative;
}

a.klik:hover{
    background: brown;
    text-decoration: none;
}

/* style navigasi */

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 70px;
    position: sticky;
    top: 0;
    background: #E0BBE4;
    z-index: 1;
    border-bottom: 1px solid black;
    border-radius: 5px;
    margin-bottom: 50px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}

nav ul li{
    float: left;
}

nav ul li a{
    font-weight: bold;
    text-decoration: none;
    padding: 0px 16px 0px 16px;
    color: black;
    text-align: center;
}

nav ul li a:hover{
    text-decoration: underline ;
}

/* dropdown */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #E0BBE4}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}



section{
    display: flex;
    margin-bottom: 50px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/* konten ipa */

.kolomipal .desc{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: black;
}

.kolomipal{
    margin: auto;
    border: 0px;
    width: 50%;
    padding: 5px;
    height: 300px;
    border: solid 0px;
    border-radius: 30px;
    background-color:bisque;
    overflow: auto;
}

.kolomipal .desc{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: black;
}

.kolomipar{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;
    width: 50%;
    height: 300px;
    border: solid 0px;
    border-radius: 30px;
    background-color:bisque;
    overflow: auto;
}

.kolomipar .desc{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: black;
    padding: 0px;
}

.imgipal{
    border-radius: 50px;
    height: 300px;
    width: 500px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 1px;
    border: solid 2px;
}

.imgipar{
    border-radius: 50px;
    height: 300px;
    width: 500px;
    margin-top: 40px;
    margin-left: 20px;
    border: solid 2px;
    min-width: 100px;
}

/* konten ips */

#ips{
    margin-top: 300px;
}

.kolomipsr{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;
    border: 0px;
    width: 50%;
    height: 300px;
    border: solid 0px;
    border-radius: 30px;
    background-color:bisque;
    overflow: auto;
}

.kolomipsr .desc{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: black;
    padding: 0px;
}

.kolomipsl{
    margin: auto;
    border: 0px;
    width: 50%;
    padding: 5px;
    height: 300px;
    border: solid 0px;
    border-radius: 30px;
    background-color:bisque;
    overflow: auto;
}

.kolomipsl .desc{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: black;
}

.imgipsl{
    border-radius: 50px;
    height: 300px;
    width: 500px;
    margin-top: 40px;
    margin-right: 20px;
    border: solid 2px;
    min-width: 1px;
}

.imgipsr{
    border-radius: 50px;
    height: 300px;
    width: 500px;
    margin-top: 40px;
    margin-left: 20px;
    border: solid 2px;
    min-width: 1px;
}

p{
    margin: 5px 2px 5px 2px;
    padding: 5px 0px 5px 0px;
}

/* footer */

#copyright{
    text-align: center;
    font-size: 90%;
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin-top: 10px;
    border:  1px;
    border-color:  gainsboro;
    background: whitesmoke;
    border-radius: 5px;
}